NEXT_PUBLIC_SITE_URL=https://mktechvn.com
NEXT_PUBLIC_SUPABASE_URL=https://vhpcbfvoowbhsrtozxlg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_ADMIN_EMAILS=
